<html lang="en"> 

  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">  
	<title>Sentiment Analysis</title>

	<style>
	/* Your styles go here */
	</style>
	
	<script>
	/* Your JavaScript goes here */
	</script>
  </head>

<body>
    <header> 
        <ul id="top"> 	
        <li><a href="{{ url_for('home') }}" style="font-family:  monaco, Consolas, 'Lucida Console', monospace;">Home</a></li>
        <li><a href="{{ url_for('about') }}" style="font-family:  monaco, Consolas, 'Lucida Console', monospace;">About</a></li>
        <li class="dropdown">
          <a href="{{ url_for('overall_sentiment_analysis') }}" style="font-family:  monaco, Consolas, 'Lucida Console', monospace;" class="dropbtn">Overall Sentiment Analysis</a>
        <li class="dropdown">
            <a href="{{ url_for('individual_sentiment_analysis') }}" style="font-family:  monaco, Consolas, 'Lucida Console', monospace;" class="dropbtn">Individual Sentiment Analysis</a>
        <li class="dropdown">
          <a href="{{ url_for('requirements') }}" style="font-family:  monaco, Consolas, 'Lucida Console', monospace;" class="dropbtn">Requirements</a>            
        </header>
        
        {% block content %}
        {% endblock %}
        
     </body>
    </html>